name: Upload changed files to Qiniu and AWS S3
on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/test.yml
      - bin/*
      - lib/*
jobs:
  run:
    name: Build and Upload
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        ocaml-version:
          - 4.10.0
    steps:
      - uses: actions/checkout@v2
        with:
          # Must use at least depth 2!
          fetch-depth: 2
      - uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: Build
        run: |
          opam install dune core -y
          opam exec -- dune build
          sudo cp ./_build/default/bin/cloud_assets_utils.exe /usr/local/bin/cloud_assets_utils

      - name: Configure qshell
        run: |
          curl http://devtools.qiniu.com/qshell-linux-x64-v2.4.2.zip -o qshell.zip
          unzip qshell.zip
          sudo mv qshell-linux-x64-v2.4.2 /usr/local/bin/qshell
          qshell account ${{ secrets.QINIU_ACCESS_KEY }} ${{ secrets.QINIU_SECRET_KEY }} test

      - uses: actions/setup-python@v2
      - name: Configure awscli
        run: |
          pip3 install awscli
          printf "%s\n" ${{ secrets.AWS_ACCESS_KEY }} ${{ secrets.AWS_SECRET_KEY }} ${{ secrets.AWS_REGION }} "json" | aws configure

      - name: Upload
        run: |
          cloud_assets_utils verify .
          cloud_assets_utils verify-and-sync -qiniu true -qiniu-bucket ${{ secrets.QINIU_BUCKET_NAME }} -aws true -aws-bucket ${{ secrets.AWS_BUCKET_NAME }} .circleci -replace-first-path-to cloud-assets-utils/.circleci
          cloud_assets_utils verify-and-sync -qiniu true -qiniu-bucket ${{ secrets.QINIU_BUCKET_NAME }} -aws true -aws-bucket ${{ secrets.AWS_BUCKET_NAME }} .github -replace-first-path-to cloud-assets-utils/.github
          cloud_assets_utils verify-and-sync -qiniu true -qiniu-bucket ${{ secrets.QINIU_BUCKET_NAME }} -aws true -aws-bucket ${{ secrets.AWS_BUCKET_NAME }} bin -replace-first-path-to cloud-assets-utils/bin
          cloud_assets_utils verify-and-sync -qiniu true -qiniu-bucket ${{ secrets.QINIU_BUCKET_NAME }} -aws true -aws-bucket ${{ secrets.AWS_BUCKET_NAME }} lib -replace-first-path-to cloud-assets-utils/lib

      - name: Upload cloud_assets_utils to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GH_TOKEN }}
          file: _build/default/bin/cloud_assets_utils.exe
          asset_name: cloud_assets_utils-ubuntu-latest
          tag: v0.2.0
          overwrite: true
